.modal {
  &__main {
    width: 40%;
    margin: 0 auto;
    padding: 2em;
    position: fixed;
    top: 20%;
    left: 30%;
    border: 1px solid grey;
    border-radius: 0.3em;
    background-color: $modalBackground;
    font-size: 1.1em;
    color: #0B303D;
  }

  &__title {
    width: 100%;
    margin: 0 auto;
  }

  &__title label {
    padding: 1.5em;
  }

  &__title input {
    width: 20em;
  }

  &__day-items {
    list-style-type: none;
  }

  &__day-items li {
    padding: 0.2em;

  }

  &__day-items label {
    padding: 1.5em;
  }

  &__button {
    padding: 1em 5em;
    margin: 1em;
    border-radius: 0.3em;
    border: 0.1em grey solid;
    font-size: 0.6em;
  }

  &__button:hover {
    cursor: pointer;
    background-color: $buttonBackgroundOnHover;
  }

  &__button-area {
    margin: 0 auto;
    width: 70%;
    align: center;
  }
}